################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MapperlyMappingTest/FileContentIndex/07db45c6-50d8-4fe0-99aa-e688ce9e1c8d.vsidx
/.vs/MapperlyMappingTest/DesignTimeBuild/.dtbcache.v2
/.vs/MapperlyMappingTest/DesignTimeBuild/.dtbcache.v2
/.vs/MapperlyMappingTest/FileContentIndex/74a50511-3934-45f3-8d09-dcdc524b1692.vsidx
/.vs/MapperlyMappingTest/FileContentIndex/7bdfe288-c123-48b1-9561-99c7075fb3b9.vsidx
/.vs/MapperlyMappingTest/FileContentIndex/7bd1df72-ae80-490d-8bfd-371e9d70c630.vsidx
/.vs/MapperlyMappingTest/FileContentIndex/aec4ce9c-da19-4fb4-ac77-1054c5cf55db.vsidx
/.vs/MapperlyMappingTest/FileContentIndex/07db45c6-50d8-4fe0-99aa-e688ce9e1c8d.vsidx
/.vs/MapperlyMappingTest/FileContentIndex/576d78da-bb81-4adf-8f29-1f5d223011b8.vsidx
/.vs/MapperlyMappingTest/FileContentIndex/6ac30865-60f8-4d81-82a5-4fb9bc11a0f5.vsidx
/.vs/MapperlyMappingTest/FileContentIndex/d65f0827-9160-44a1-a7cb-9802e6ba31e5.vsidx
/.vs/MapperlyMappingTest/v17/.futdcache.v2
/.vs/MapperlyMappingTest/v17/.suo
/.vs/ProjectEvaluation/mapperlymappingtest.metadata.v7.bin
/.vs/ProjectEvaluation/mapperlymappingtest.projects.v7.bin
