################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MapperlyMappingTest/FileContentIndex/07db45c6-50d8-4fe0-99aa-e688ce9e1c8d.vsidx
/.vs/MapperlyMappingTest/DesignTimeBuild/.dtbcache.v2
